.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-block: 5rem;
}

.cardContainer{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.launchCard{
  width: 100%;
  margin-bottom: 40px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
}
